In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
Garage=pd.read_csv('Garage.csv')
Property=pd.read_csv('Property.csv')
Transaction=pd.read_csv('Transaction.csv')

In [3]:
#### Question 1

In [4]:
len(Property.columns)

33

In [5]:
#### Question 2

In [6]:
Property.sort_values('LotArea',ascending = True).head(5)

,Id,LotArea,Street,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,TotalBsmtSF,Heating,...,Fireplaces,FireplaceQu,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC
956,957,1300,Pave,6,6,1980,1980,Gable,561,GasA,...,1,TA,Y,150,0,0,0,0,0,NaN
1039,1040,1477,Pave,4,4,1970,1970,Gable,630,GasA,...,0,NaN,Y,0,0,0,0,0,0,NaN
614,615,1491,Pave,4,6,1972,1972,Gable,630,GasA,...,0,NaN,Y,96,24,0,0,0,0,NaN
489,490,1526,Pave,4,8,1970,2002,Gable,630,GasA,...,0,NaN,Y,0,0,0,0,0,0,NaN
1449,1450,1533,Pave,5,7,1970,1970,Gable,630,GasA,...,0,NaN,Y,0,0,0,0,0,0,NaN

In [7]:
print(Property.columns)

Index(['Id', 'LotArea', 'Street', 'OverallQual', 'OverallCond', 'YearBuilt',
       'YearRemodAdd', 'RoofStyle', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', '1stFlrSF', '2ndFlrSF', 'GrLivArea', 'BsmtFullBath',
       'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr',
       'KitchenQual', 'TotRmsAbvGrd', 'Fireplaces', 'FireplaceQu',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC'],
      dtype='object')

In [8]:
print(Garage.columns)

Index(['Id', 'GarageType', 'GarageYrBlt', 'GarageCars', 'GarageArea',
       'GarageQual', 'GarageCond'],
      dtype='object')

In [9]:
#### Question 3

In [10]:
set(Property.Id)-set(Garage.Id)

{426, 801, 857, 984, 1136, 1167}

In [11]:
#### Question 4a

In [12]:
Garage['GarageType'].value_counts(ascending=False)

Attchd      862
Detchd      364
BuiltIn      88
Detached     21
Basment      14
Attached     10
CarPort       9
2Types        6
Basement      5
Name: GarageType, dtype: int64

In [13]:
sum(Garage.loc[Garage['GarageType'] == 'Detchd'].GarageArea)/len(Garage.loc[Garage['GarageType'] == 'Detchd'].GarageArea)

428.22802197802196

In [14]:
#### Question 4b

In [15]:
Garage['GarageType'].isna().sum()

81

In [16]:
#### Question 4c

In [17]:
Garage[Garage['GarageType'].isna()]

,Id,GarageType,GarageYrBlt,GarageCars,GarageArea,GarageQual,GarageCond
9,1039,NaN,NaN,0,472.980137,NaN,NaN
21,308,NaN,NaN,0,472.980137,NaN,NaN
67,496,NaN,NaN,0,472.980137,NaN,NaN
80,288,NaN,NaN,0,472.980137,NaN,NaN
94,1450,NaN,NaN,0,472.980137,NaN,NaN
...,...,...,...,...,...,...,...
1382,376,NaN,NaN,0,472.980137,NaN,NaN
1397,89,NaN,NaN,0,472.980137,NaN,NaN
1399,432,NaN,NaN,0,472.980137,NaN,NaN
1435,1454,NaN,NaN,0,472.980137,NaN,NaN
1447,211,NaN,NaN,0,472.980137,NaN,NaN

In [18]:
Garage['GarageType']=Garage['GarageType'].fillna('Detchd')

In [19]:
sum(Garage.loc[Garage['GarageType'] == 'Detchd'].GarageArea)/len(Garage.loc[Garage['GarageType'] == 'Detchd'].GarageArea)

436.3739125775287

In [20]:
#### Question 5

In [21]:
Property[(Property.OverallQual<5) | (Property.OverallCond<5)]

,Id,LotArea,Street,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,TotalBsmtSF,Heating,...,Fireplaces,FireplaceQu,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC
17,18,10791,Pave,4,5,1967,1967,Gable,0,GasA,...,0,NaN,Y,0,0,0,0,0,0,NaN
29,30,6324,Pave,4,6,1927,1950,Gable,520,GasA,...,0,NaN,Y,49,0,87,0,0,0,NaN
30,31,8500,Pave,4,4,1920,1950,Gambrel,649,GasA,...,0,NaN,N,0,54,172,0,0,0,NaN
39,40,6040,Pave,4,5,1955,1955,Gable,0,GasA,...,0,NaN,N,0,0,0,0,0,0,NaN
48,49,4456,Pave,4,5,1920,2008,Gable,736,GasA,...,0,NaN,N,0,0,102,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1412,1413,7200,Pave,4,5,1949,1950,Gable,0,Wall,...,0,NaN,Y,0,0,0,0,0,0,NaN
1416,1417,11340,Pave,4,6,1885,1950,Gable,777,GasA,...,0,NaN,N,0,0,114,0,0,0,NaN
1432,1433,10800,Pave,4,6,1927,2007,Gable,656,GasA,...,0,NaN,Y,0,0,0,0,0,0,NaN
1436,1437,9000,Pave,4,6,1971,1971,Gable,864,GasA,...,0,NaN,Y,0,0,0,0,0,0,NaN
1448,1449,11767,Pave,4,7,1910,2000,Gable,560,GasA,...,0,NaN,Y,168,24,0,0,0,0,NaN

In [22]:
#### Question 6

In [23]:
frame=[Property,Garage]

In [24]:
Data=pd.merge(Property, Garage, how="left", on=['Id'])
Data=pd.merge(Data, Transaction, how="left", on=['Id'])
Data

,Id,LotArea,Street,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,TotalBsmtSF,Heating,...,PoolQC,GarageType,GarageYrBlt,GarageCars,GarageArea,GarageQual,GarageCond,MoSold,YrSold,SalePrice
0,1,8450,Pave,7,5,2003,2003,Gable,856,GasA,...,NaN,Attchd,2003.0,2.0,548.0,TA,TA,2,2008,208500
1,2,9600,Pave,6,8,1976,1976,Gable,1262,GasA,...,NaN,Attchd,1976.0,2.0,460.0,TA,TA,5,2007,181500
2,3,11250,Pave,7,5,2001,2002,Gable,920,GasA,...,NaN,Attchd,2001.0,2.0,608.0,TA,TA,9,2008,223500
3,4,9550,Pave,7,5,1915,1970,Gable,756,GasA,...,NaN,Detchd,1998.0,3.0,642.0,TA,TA,2,2006,140000
4,5,14260,Pave,8,5,2000,2000,Gable,1145,GasA,...,NaN,Attchd,2000.0,3.0,836.0,TA,TA,12,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,1456,7917,Pave,6,5,1999,2000,Gable,953,GasA,...,NaN,Attchd,1999.0,2.0,460.0,TA,TA,8,2007,175000
1471,1457,13175,Pave,6,6,1978,1988,Gable,1542,GasA,...,NaN,Attchd,1978.0,2.0,500.0,TA,TA,2,2010,210000
1472,1458,9042,Pave,7,9,1941,2006,Gable,1152,GasA,...,NaN,Attchd,1941.0,1.0,252.0,TA,TA,5,2010,266500
1473,1459,9717,Pave,5,6,1950,1996,Hip,1078,GasA,...,NaN,Attchd,1950.0,1.0,240.0,TA,TA,4,2010,142125
1474,1460,9937,Pave,5,6,1965,1965,Gable,1256,GasA,...,NaN,Attchd,1965.0,1.0,276.0,TA,TA,6,2008,147500

In [ ]:
#### Question 7

In [26]:
x=sum(Data.loc[Data['HeatingQC'] == 'Ex'].SalePrice)/len(Data.loc[Data['HeatingQC'] == 'Ex'].SalePrice)
y=sum(Data.loc[Data['HeatingQC'] == 'Gd'].SalePrice)/len(Data.loc[Data['HeatingQC'] == 'Gd'].SalePrice)
x-y

58532.30244808743

In [27]:
#### Question 8a

In [28]:
property_combined = pd.read_csv("Combined.csv")

In [29]:
property_combined

,LotArea,OverallQual,OverallCond,YearBuilt,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageCars,GarageArea
0,8450,7,5,2003,856,856,854,1710,3,1,8,0,2,548
1,9600,6,8,1976,1262,1262,0,1262,3,1,6,1,2,460
2,11250,7,5,2001,920,920,866,1786,3,1,6,1,2,608
3,9550,7,5,1915,756,961,756,1717,3,1,7,1,3,642
4,14260,8,5,2000,1145,1145,1053,2198,4,1,9,1,3,836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,6,5,1999,953,953,694,1647,3,1,7,1,2,460
1456,13175,6,6,1978,1542,2073,0,2073,3,1,7,2,2,500
1457,9042,7,9,1941,1152,1188,1152,2340,4,1,9,2,1,252
1458,9717,5,6,1950,1078,1078,0,1078,2,1,5,0,1,240
1459,9937,5,6,1965,1256,1256,0,1256,3,1,6,0,1,276

In [30]:
property_combined.corr().OverallQual.sort_values(ascending=False)

OverallQual     1.000000
GarageCars      0.600671
GrLivArea       0.593007
YearBuilt       0.572323
GarageArea      0.562022
TotalBsmtSF     0.537808
1stFlrSF        0.476224
TotRmsAbvGrd    0.427452
Fireplaces      0.396765
2ndFlrSF        0.295493
LotArea         0.105806
BedroomAbvGr    0.101676
OverallCond    -0.091932
KitchenAbvGr   -0.183882
Name: OverallQual, dtype: float64

In [31]:
#### Question 8b

In [32]:
property_combined['Indoor_area']=property_combined['TotalBsmtSF']+property_combined['GrLivArea']+property_combined['1stFlrSF']+property_combined['2ndFlrSF']

In [33]:
property_combined['Age']=2022-property_combined['YearBuilt']

In [34]:
property_combined

,LotArea,OverallQual,OverallCond,YearBuilt,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageCars,GarageArea,Indoor_area,Age
0,8450,7,5,2003,856,856,854,1710,3,1,8,0,2,548,4276,19
1,9600,6,8,1976,1262,1262,0,1262,3,1,6,1,2,460,3786,46
2,11250,7,5,2001,920,920,866,1786,3,1,6,1,2,608,4492,21
3,9550,7,5,1915,756,961,756,1717,3,1,7,1,3,642,4190,107
4,14260,8,5,2000,1145,1145,1053,2198,4,1,9,1,3,836,5541,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,6,5,1999,953,953,694,1647,3,1,7,1,2,460,4247,23
1456,13175,6,6,1978,1542,2073,0,2073,3,1,7,2,2,500,5688,44
1457,9042,7,9,1941,1152,1188,1152,2340,4,1,9,2,1,252,5832,81
1458,9717,5,6,1950,1078,1078,0,1078,2,1,5,0,1,240,3234,72
1459,9937,5,6,1965,1256,1256,0,1256,3,1,6,0,1,276,3768,57

In [35]:
property_combined.corr().Indoor_area.sort_values(ascending=True)

Age            -0.298413
OverallCond    -0.122519
KitchenAbvGr    0.057084
YearBuilt       0.298413
LotArea         0.299103
BedroomAbvGr    0.432387
Fireplaces      0.486248
2ndFlrSF        0.492148
GarageCars      0.525379
GarageArea      0.543277
OverallQual     0.658838
TotalBsmtSF     0.703027
1stFlrSF        0.731139
TotRmsAbvGrd    0.755151
GrLivArea       0.952275
Indoor_area     1.000000
Name: Indoor_area, dtype: float64