## Ericsson Wong

In [1]:
import pandas as pd
import math
import pandas.io.formats.style as pds
import numpy as np

pd.set_option('float_format', '{:.3f}'.format)

In [2]:
# import data GS
GS = pd.read_excel(r'EPS_CHANGE_20221028_GS.xlsx')
GS = GS.loc[3:]
GS = GS.drop(GS.columns[[0,14]], axis=1)
GS.columns =['Company Name', 'BBG Ticker', 'Forecast Year', 'EPS % change','EPS GS (new)','EPS GS (old)','GS P/E FY'
            ,'GS vs. Cons EPS','Comments','% Change Sales','% Change OP','% Change PTP','Rating','Region','Conviction Sector',
             'Rating (*for CL)','Market cap (€ mn)']
GS['Currency'] = np.nan
# Remove duplicate rows
GS=GS[GS['Forecast Year'].notna()]
GS.index = range(1, len(GS.index) + 1)

for i in range(0,len(GS.index)):
    for j in range(0,len(GS.axes[1])):
        if str(GS.iat[i,j])=='nan':
            GS.iat[i,j]=GS.iat[i-1,j]
            
# Separate BBG Ticker and Currency
for k in range(0,len(GS.axes[0])):
    if len(str(GS.iat[k,1]))==3:
        GS.iat[k,17]=GS.iat[k,1]
        GS.iat[k-1,17]=GS.iat[k,1]
        
for k in range(0,len(GS.axes[0]),2):
    if len(str(GS.iat[k,1]))!=3:
        GS.iat[k+1,1]=GS.iat[k,1]

# Convert back to %
GS['EPS % change']=GS['EPS % change']*100
GS['% Change Sales	']=GS['% Change Sales']*100
GS['% Change OP']=GS['% Change OP']*100
GS['% Change PTP']=GS['% Change PTP']*100

GS

,Company Name,BBG Ticker,Forecast Year,EPS % change,EPS GS (new),EPS GS (old),GS P/E FY,GS vs. Cons EPS,Comments,% Change Sales,% Change OP,% Change PTP,Rating,Region,Conviction Sector,Rating (*for CL),Market cap (€ mn),Currency,% Change Sales\t
1,Befesa SA,BFSA GR,2022E,-7.079,2.416,2.600,14.480,-0.049,We update our estimates post Befesa's in-line ...,0.038,-9.866,-12.797,Buy,Europe,Basic Resources,Buy,1399.200,EUR,3.796
2,Befesa SA,BFSA GR,2023E,4.613,3.255,3.112,10.746,0.027,We update our estimates post Befesa's in-line ...,0.023,-0.374,1.735,Buy,Europe,Basic Resources,Buy,1399.200,EUR,2.323
3,Capgemini,CAP FP,2022E,0.280,8.889,8.864,19.233,-0.148,We update our estimates for Capgemini followin...,0.005,0.225,0.279,Buy,Europe,Technology,Buy,30124.539,EUR,0.466
4,Capgemini,CAP FP,2023E,-0.587,10.012,10.071,17.074,-0.143,We update our estimates for Capgemini followin...,-0.002,-0.495,-0.586,Buy,Europe,Technology,Buy,30124.539,EUR,-0.180
5,Danone,BN FP,2022E,2.796,3.386,3.294,14.293,0.023,Updating for Q3 results,0.025,2.445,2.677,Sell,Europe,Consumer Products,Sell,31339,EUR,2.503
6,Danone,BN FP,2023E,2.360,3.356,3.278,14.423,-0.070,Updating for Q3 results,0.023,2.631,2.255,Sell,Europe,Consumer Products,Sell,31339,EUR,2.307
7,Freenet,FNTN GR,2022E,-38.074,-0.961,-0.696,0,-2.041,We make minor changes to estimates reflecting ...,0.001,-1.531,-5.078,Buy,Europe,Telecoms,Buy,2448.603,EUR,0.076
8,Freenet,FNTN GR,2023E,-3.900,1.857,1.933,10.342,0.108,We make minor changes to estimates reflecting ...,0,0,-1.809,Buy,Europe,Telecoms,Buy,2448.603,EUR,0
9,Heineken,HEIA NA,2022E,0.234,4.723,4.712,17.634,-0.027,We update our estimates for Heineken post the ...,-0.004,0.418,0.420,Neutral,Europe,Consumer Products,Neutral,47954.423,EUR,-0.413
10,Heineken,HEIA NA,2023E,-0.281,5.093,5.107,16.353,-0.051,We update our estimates for Heineken post the ...,-0.004,-0.065,-0.082,Neutral,Europe,Consumer Products,Neutral,47954.423,EUR,-0.411
11,Hexagon AB,HEXAB SS,2022E,0.689,0.402,0.399,24.919,-0.095,We update our estimates for the 3Q22 results a...,0.001,0.872,0.690,Sell,Europe,Technology,Sell,27106.807,EUR,0.122
12,Hexagon AB,HEXAB SS,2023E,-0.879,0.397,0.401,25.203,-0.143,We update our estimates for the 3Q22 results a...,-0.008,-0.825,-0.840,Sell,Europe,Technology,Sell,27106.807,EUR,-0.825
13,Infrastrutture Wireless SpA,INW IM,2022E,-0.150,0.301,0.301,29.197,-0.035,Updating for Q3 results,0.001,-0.020,-0.075,Buy,Europe,Telecoms,Buy,8436.480,EUR,0.121
14,Infrastrutture Wireless SpA,INW IM,2023E,0.321,0.334,0.332,26.348,-0.145,Updating for Q3 results,0.002,0.264,0.321,Buy,Europe,Telecoms,Buy,8436.480,EUR,0.249
15,Jeronimo Martins,JMT PL,2022E,1.588,1.035,1.018,19.698,0.080,Updating for Q3 results,0.011,1.921,2.180,Buy,Europe,Food Retail,Buy,12824.995,EUR,1.087
16,Jeronimo Martins,JMT PL,2023E,0.983,1.050,1.040,19.414,-0.006,Updating for Q3 results,0.084,2.782,0.955,Buy,Europe,Food Retail,Buy,12824.995,EUR,8.359
17,Neste OYJ,NESTE FH,2022E,38.129,3.178,2.301,14.302,0.153,Updating for Q3 results,0.036,23.502,20.825,Neutral,Europe,Clean Technology,Neutral,34968.335,EUR,3.571
18,Neste OYJ,NESTE FH,2023E,-7.204,2.548,2.746,17.840,-0.075,Updating for Q3 results,-0.021,-10.571,-7.197,Neutral,Europe,Clean Technology,Neutral,34968.335,EUR,-2.067
19,Pirelli,PIRC IM,2022E,6.227,0.454,0.427,8.461,-0.113,Ahead of Pirelli's 3Q results next week (Nov ...,0.027,4.021,6.185,Sell,Europe,Autos,Sell,3841,EUR,2.663
20,Pirelli,PIRC IM,2023E,-4.361,0.441,0.461,8.702,-0.184,Ahead of Pirelli's 3Q results next week (Nov ...,0.013,-2.151,-3.272,Sell,Europe,Autos,Sell,3841,EUR,1.340
21,Renault,RNO FP,2022E,-12.517,7.014,8.018,4.532,0.345,We update our RNO estimates to reflect 3Q rep...,0.047,-0.522,-8.980,Neutral,Europe,Autos,Neutral,9401.002,EUR,4.712
22,Renault,RNO FP,2023E,-1.061,10.512,10.625,3.024,0.286,We update our RNO estimates to reflect 3Q rep...,0.010,-2.949,-1.499,Neutral,Europe,Autos,Neutral,9401.002,EUR,1.017
23,Repsol,REP SM,2022E,-1.750,4.276,4.352,3.236,0.093,Updating for Q3 results,-0.003,2.282,-4.855,Buy,Europe,Oil,Buy,20448.693,EUR,-0.332
24,Repsol,REP SM,2023E,0.672,4.107,4.080,3.370,0.328,Updating for Q3 results,0,-0.692,-1.581,Buy,Europe,Oil,Buy,20448.693,EUR,0
25,Banco Santander,SAN SM,2022E,1.072,0.543,0.538,4.832,0.053,We update our estimates post Q3 results,0.012,1.111,1.400,Buy,Europe,Banks,Buy,45519.183,EUR,1.151
26,Banco Santander,SAN SM,2023E,1.177,0.565,0.559,4.642,0.077,We update our estimates post Q3 results,0.014,1.216,-0.082,Buy,Europe,Banks,Buy,45519.183,EUR,1.376
27,Unilever Plc,UNA NA,2022E,1.877,2.626,2.578,17.063,0.034,Updating for Q3 results,0.023,2.284,1.922,Neutral,Europe,Consumer Products,Neutral,117415.643,EUR,2.259
28,Unilever Plc,UNA NA,2023E,0.558,2.766,2.751,16.200,-0.007,Updating for Q3 results,0.014,1.650,0.730,Neutral,Europe,Consumer Products,Neutral,117415.643,EUR,1.394
29,Unilever Plc,ULVR LN,2022E,1.877,2.626,2.578,17.048,0.050,updating for Q3 results,0.023,2.284,1.922,Neutral,Europe,Consumer Products,Neutral,117315.431,EUR,2.259
30,Unilever Plc,ULVR LN,2023E,0.558,2.766,2.751,16.186,0.020,updating for Q3 results,0.014,1.650,0.730,Neutral,Europe,Consumer Products,Neutral,117315.431,EUR,1.394
31,Universal Music Group,UMG NA,2022E,0.106,0.881,0.880,23.588,0.141,Updating for Q3 results,0.018,-1.131,-1.795,Buy,Europe,Media & Internet,Buy*,37669.524,EUR,1.814
32,Universal Music Group,UMG NA,2023E,-2.553,0.953,0.978,21.794,0.070,Updating for Q3 results,0.013,-5.817,-6.794,Buy,Europe,Media & Internet,Buy*,37669.524,EUR,1.295
33,Valeo,FR FP,2022E,-1.242,0.573,0.581,30.159,-0.337,Updating for Q3 results,0.004,-2.713,-0.651,Buy,Europe,Autos,Buy,4145.196,EUR,0.380
34,Valeo,FR FP,2023E,0.816,1.990,1.974,8.690,0.042,Updating for Q3 results,0.018,4.314,0.725,Buy,Europe,Autos,Buy,4145.196,EUR,1.830
35,Zegna,ZGN US,2022E,-3.827,0.217,0.225,50.032,-0.323,Updating for Q3 results,0.008,-2.057,-3.087,Neutral,Europe,Luxury Retail,Neutral,2845.781,EUR,0.847
36,Zegna,ZGN US,2023E,-2.496,0.379,0.389,28.623,-0.145,Updating for Q3 results,-0.008,-1.918,-2.183,Neutral,Europe,Luxury Retail,Neutral,2845.781,EUR,-0.751

In [3]:
# import data JPM
JPM = pd.read_excel(r'EPS_CHANGE_20221028_JPMCAZ.xlsx')
JPM  = JPM.loc[4:]
JPM  = JPM.drop(JPM.columns[11], axis=1)
JPM.columns = ['Company Name','BBG Ticker','Forecast Year', 'EPS % change','EPS JPM (new)','EPS Cons (mean)'
              ,'% diff vs. consensus','EPS JPM (old)','Cons PER (x)','JPMe EBIT % Change','Comments']
JPM['Currency'] = np.nan

# Remove duplicate rows
for i in range(0,len(JPM.index)):
    for j in range(0,len(JPM.axes[1])):
        if str(JPM.iat[i,j])=='nan':
            JPM.iat[i,j]=JPM.iat[i-1,j]
        if JPM.iat[i,0] == 'Valeo SA': # Valeo and Valeo SA are the same 
            JPM.iat[i,0]='Valeo'

# Separate BBG Ticker and Currency
for k in range(0,len(JPM.axes[0])):
    if len(str(JPM.iat[k,1]))==3:
        JPM.iat[k,11]=JPM.iat[k,1]
        JPM.iat[k-1,11]=JPM.iat[k,1]
        
for k in range(0,len(JPM.axes[0]),2):
    if len(str(JPM.iat[k,1]))!=3:
        JPM.iat[k+1,1]=JPM.iat[k,1]


JPM.index = range(1, len(JPM.index) + 1) 

# Convert back to %
JPM['EPS % change']=JPM['EPS % change']*100
JPM['% diff vs. consensus']=JPM['% diff vs. consensus']*100
JPM['JPMe EBIT % Change']=JPM['JPMe EBIT % Change']*100

JPM

,Company Name,BBG Ticker,Forecast Year,EPS % change,EPS JPM (new),EPS Cons (mean),% diff vs. consensus,EPS JPM (old),Cons PER (x),JPMe EBIT % Change,Comments,Currency
1,Acerinox,ACX SM,2022,8.667,3.028,3.169,-4.464,2.786,2.762,8.559,We update our model post the Q3'22 result: for...,EUR
2,Acerinox,ACX SM,2023,1.648,1.192,1.340,-11.073,1.172,6.533,-0.151,We update our model post the Q3'22 result: for...,EUR
3,ASM International,ASM NA,2022,-0.865,11.869,12.205,-2.751,11.973,19.459,-1.263,We update our model to incorporate ASMI’s 3Q r...,EUR
4,ASM International,ASM NA,2023,-2.680,13.713,12.568,9.112,14.091,18.897,-3.110,We update our model to incorporate ASMI’s 3Q r...,EUR
5,Banco Sabadell,SAB SM,2022,15.891,0.143,0.120,19.465,0.124,6.452,4.668,"Post Sabadell’s 3Q22 results, we increase on o...",EUR
6,Banco Sabadell,SAB SM,2023,34.369,0.169,0.115,47.150,0.126,6.732,3.503,"Post Sabadell’s 3Q22 results, we increase on o...",EUR
7,Beiersdorf,BEI GR,2022,-0.690,3.581,3.522,1.663,3.605,27.496,-0.665,We revise estimates on Beiersdorf on the back ...,EUR
8,Beiersdorf,BEI GR,2023,-2.171,3.927,3.773,4.093,4.015,25.667,-2.112,We revise estimates on Beiersdorf on the back ...,EUR
9,Capgemini,CAP FP,2022,1.382,10.736,10.615,1.141,10.590,16.105,1.365,"Following Q3 results, we upgrade our 2022 fore...",EUR
10,Capgemini,CAP FP,2023,-0.042,11.695,11.757,-0.529,11.700,14.540,-0.042,"Following Q3 results, we upgrade our 2022 fore...",EUR
11,Clariant,CLN SW,2022,7.091,1.836,1.185,54.901,1.714,14.177,10.168,Due to strong 3Q22 results and better 4Q22 mom...,CHF
12,Clariant,CLN SW,2023,2.541,1.027,1.154,-11.021,1.001,14.558,2.350,Due to strong 3Q22 results and better 4Q22 mom...,CHF
13,Credit Suisse Group,CSGN SW,2022,-153.747,-1.364,-0.394,246.240,-0.538,-,22.766,We cut our adj. EPS by -47%/-42%/-37% in 2023E...,CHF
14,Credit Suisse Group,CSGN SW,2023,-46.770,0.402,0.570,-29.447,0.755,7.193,-24.810,We cut our adj. EPS by -47%/-42%/-37% in 2023E...,CHF
15,Danone,BN FP,2022,1.067,3.466,3.315,4.545,3.429,14.600,----------------------------------------------...,"We raise EPS 2022E by ~1% to €3.47, on higher ...",EUR
16,Danone,BN FP,2023,-1.668,3.739,3.607,3.665,3.803,13.418,----------------------------------------------...,"We raise EPS 2022E by ~1% to €3.47, on higher ...",EUR
17,Davide Campari-Milano NV,CPR IM,2022,3.874,0.345,0.329,4.843,0.332,27.392,3.676,"Overall accounting for better top line, strong...",EUR
18,Davide Campari-Milano NV,CPR IM,2023,4.776,0.393,0.371,6.058,0.376,24.291,4.611,"Overall accounting for better top line, strong...",EUR
19,Essity,ESSITYB SS,2022,1.805,9.352,11.321,-17.389,9.187,20.502,----------------------------------------------...,We update estimates on Essity post Q322 result...,SEK
20,Essity,ESSITYB SS,2023,-1.757,14.188,15.809,-10.253,14.442,14.682,----------------------------------------------...,We update estimates on Essity post Q322 result...,SEK
21,Heineken,HEIA NA,2022,0.206,4.878,4.827,1.066,4.868,17.253,0.198,We update our model following Q322 results. De...,EUR
22,Heineken,HEIA NA,2023,-2.060,5.357,5.312,0.842,5.469,15.678,-2.035,We update our model following Q322 results. De...,EUR
23,HelloFresh,HFG GR,2022,-0.155,1.422,1.048,35.729,1.425,20.506,-4.493,"Given continued macro pressure, we lower our a...",EUR
24,HelloFresh,HFG GR,2023,6.507,2.221,1.442,54.044,2.086,14.903,3.981,"Given continued macro pressure, we lower our a...",EUR
25,Inchcape,INCH LN,2022,3.331,69.690,68.300,2.036,67.444,10.820,8.600,"On the back of Q3 results, we adjust our under...",GBp
26,Inchcape,INCH LN,2023,-7.279,67.279,72.400,-7.073,72.561,10.207,0.325,"On the back of Q3 results, we adjust our under...",GBp
27,Inwit,INW IM,2022,1.783,0.312,0.317,-1.514,0.307,27.722,2.455,Estimate changes are extremely modest at all l...,EUR
28,Inwit,INW IM,2023,-0.072,0.377,0.380,-0.755,0.377,23.126,-0.059,Estimate changes are extremely modest at all l...,EUR
29,Kone,KNEBV FH,2022,-5.414,1.595,1.613,-1.130,1.686,25.728,-5.941,We update our model cutting our 2022/2023/2024...,EUR
30,Kone,KNEBV FH,2023,-0.501,1.931,1.914,0.912,1.941,21.682,-0.516,We update our model cutting our 2022/2023/2024...,EUR
31,Landis+Gyr Group,LAND SW,2022,54.196,2.210,2.904,-23.905,1.433,21.025,440.017,We update our model post the H1 results and al...,USD
32,Landis+Gyr Group,LAND SW,2023,1.179,3.866,3.943,-1.953,3.821,15.485,5.420,We update our model post the H1 results and al...,USD
33,Lloyds Banking Group,LLOY LN,2022,-5.695,6.679,7.000,-4.584,7.082,6.111,2.273,"Following Lloyds’ 3Q results (see here), we in...",GBp
34,Lloyds Banking Group,LLOY LN,2023,2.227,7.220,6.500,11.079,7.063,6.582,2.545,"Following Lloyds’ 3Q results (see here), we in...",GBp
35,MTU Aero Engines,MTX GR,2022,2.477,8.390,7.950,5.540,8.188,22.132,11.510,We move our 2022-25E EPS by +2% / +1% / 0% / -...,EUR
36,MTU Aero Engines,MTX GR,2023,1.464,10.184,9.556,6.572,10.037,18.413,8.606,We move our 2022-25E EPS by +2% / +1% / 0% / -...,EUR
37,Neste,NESTE FH,2022,4.607,2.848,2.814,1.211,2.723,16.155,7.401,"Against a strong +17% 3Q EBITDA beat, we lower...",EUR
38,Neste,NESTE FH,2023,-6.855,2.650,2.753,-3.745,2.845,16.513,-6.694,"Against a strong +17% 3Q EBITDA beat, we lower...",EUR
39,Norsk Hydro,NHY NO,2022,5.366,11.605,11.212,3.507,11.014,6.033,4.321,We revise our estimates to reflect the latest ...,NOK
40,Norsk Hydro,NHY NO,2023,-4.062,5.757,7.210,-20.159,6.000,9.381,-4.066,We revise our estimates to reflect the latest ...,NOK
41,PPHE Hotel Group,PPH LN,2022,32.784,3.512,0.800,339.003,2.645,1550,17.827,We increase our FY22E forecast to reflect mana...,GBp
42,PPHE Hotel Group,PPH LN,2023,0.421,46.185,46.500,-0.678,45.991,26.667,0.333,We increase our FY22E forecast to reflect mana...,GBp
43,Rexel,RXL FP,2022,10.758,2.884,2.548,13.204,2.604,7.028,13.399,Following the strong Q3 results and guidance u...,EUR
44,Rexel,RXL FP,2023,18.045,2.291,2.145,6.823,1.941,8.674,16.085,Following the strong Q3 results and guidance u...,EUR
45,Royal Unibrew,RBREW DC,2022,0.255,25.453,29.612,-14.044,25.389,12.876,0.247,We are updating our Royal Unibrew (RBREW) mode...,DKK
46,Royal Unibrew,RBREW DC,2023,-2.574,26.135,28.899,-9.563,26.826,14.415,-2.466,We are updating our Royal Unibrew (RBREW) mode...,DKK
47,Shell PLC,SHEL LN,2022,-3.254,5.207,5.366,-2.962,5.382,5.221,-0.825,Shell’s FY22 NI is lowered 3% incorporating 3Q...,USD
48,Shell PLC,SHEL LN,2023,-3.187,5.103,5.006,1.936,5.271,5.596,-2.461,Shell’s FY22 NI is lowered 3% incorporating 3Q...,USD
49,STMicroelectronics,STM FP,2022,1.055,4.016,3.852,4.246,3.974,8.419,0.574,We adjust our model to incorporate STMicro’s 3...,USD
50,STMicroelectronics,STM FP,2023,-6.725,3.362,3.645,-7.771,3.604,8.897,-7.232,We adjust our model to incorporate STMicro’s 3...,USD
51,Symrise,SY1 GR,2022,1.671,3.721,3.349,11.111,3.660,30.994,1.759,"Following a solid Q322, we update our Symrise ...",EUR
52,Symrise,SY1 GR,2023,2.379,3.840,3.599,6.693,3.751,28.841,2.459,"Following a solid Q322, we update our Symrise ...",EUR
53,Ubisoft,UBI FP,2023,1.874,2.083,1.879,10.883,2.045,13.976,0,We raise our FY revenue growth to 14% and our ...,EUR
54,Ubisoft,UBI FP,2024,-0.687,2.924,2.383,22.687,2.944,11.020,1.797,We raise our FY revenue growth to 14% and our ...,EUR
55,UMG,UMG NA,2022,1.723,0.772,0.772,0.053,0.759,26.911,-0.080,"We cut our FY23 EBITDA by c3.5%, largely for a...",EUR
56,UMG,UMG NA,2023,-3.953,0.845,0.883,-4.266,0.880,23.528,-3.916,"We cut our FY23 EBITDA by c3.5%, largely for a...",EUR
57,Valeo,FR FP,2022,14.724,0.971,0.903,7.578,0.847,19.147,6.783,"Following Q3 results, we are tweaking up our o...",EUR
58,Valeo,FR FP,2023,10.128,1.609,1.968,-18.259,1.461,8.786,-1.337,"Following Q3 results, we are tweaking up our o...",EUR
59,Volvo Car AB,VOLCARB SS,2022,-25.131,4.465,5.362,-16.727,5.964,8.206,-19.021,We are trimming our FY23 earnings estimates by...,SEK
60,Volvo Car AB,VOLCARB SS,2023,-22.148,5.113,4.523,13.050,6.568,9.728,-26.737,We are trimming our FY23 earnings estimates by...,SEK

In [4]:
# import data Beren
Beren = pd.read_excel(r'EPS_CHANGES_20221028_BEREN.xlsx')
Beren

,,BBG Ticker,Forecast,EPS,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,PE,Comments,% Change,Unnamed: 11,Unnamed: 12
0,Company Name,/ CCY,Year,% Chg.,New EPS,Cons,Old EPS,% Diff.,Cons,NaN,Sales,EBIT,EPS

In [5]:
# import data Intermonte
Int = pd.read_excel(r'EPS_CHANGES_20221028_INTERMONTE.xlsx',sheet_name='Sheet1')
Int = Int.iloc[1:]
Int.columns = ['Company Name','BBG Ticker','Current Price (EUR)','Recommendation and TP Old','Recommendation and TP New','Forecast Year',
               'EPS INT (old)','EPS INT (new)','EPS % change','EPS Consensus','EPS % Diff','PE INT','PE Consensus']
             
Int['Currency'] = np.nan

# Remove duplicate rows
for i in range(0,len(Int.index)):
    if str(Int.iat[i,0])=='nan':
        Int.iat[i,0]=Int.iat[i-1,0]
        
for i in range(0,len(Int.index)):
    for k in range(0,len(Int.axes[0])):
        if str(Int.iat[i,k]) == 'nm': # replace nm values
            Int.iat[i,k]=0

# Separate BBG Ticker and Currency
for k in range(0,len(Int.axes[0])):
    if len(str(Int.iat[k,1]))==3:
        Int.iat[k,13]=Int.iat[k,1]
        Int.iat[k-1,13]=Int.iat[k,1]

    
for k in range(0,len(Int.axes[0]),2):
    if len(str(Int.iat[k,1]))!=3:
        Int.iat[k+1,1]=Int.iat[k,1]
        
# Convert back to %
Int['EPS % change']=Int['EPS % change']*100
Int['EPS % Diff']=Int['EPS % Diff']*100

Int

,Company Name,BBG Ticker,Current Price (EUR),Recommendation and TP Old,Recommendation and TP New,Forecast Year,EPS INT (old),EPS INT (new),EPS % change,EPS Consensus,EPS % Diff,PE INT,PE Consensus,Currency
1,CAMPARI,CPR IM,NaN,OUTPERFORM,OUTPERFORM,2022,0.321,0.347,7.987,0.329,5.434,25.942,27.352,EUR
2,CAMPARI,CPR IM,9.006,11.500,11.500,2023,0.346,0.339,-1.976,0.370,-8.427,26.571,24.332,EUR
3,DIASORIN,DIA IM,NaN,BUY,BUY,2022,5.337,5.552,4.024,5.187,7.027,24.496,26.217,EUR
4,DIASORIN,DIA IM,136,159,159,2023,5.359,5.366,0.120,5.076,5.714,25.345,26.793,EUR
5,ITALGAS,IG IM,NaN,NEUTRAL,NEUTRAL,2022,0.474,0.476,0.429,0.457,4.173,10.605,11.048,EUR
6,ITALGAS,IG IM,5.050,5.500,5.400,2023,0.504,0.510,1.196,0.504,1.209,9.894,10.014,EUR
7,MEDIOBANCA,MB IM,NaN,NEUTRAL,NEUTRAL,2022,1.069,1.069,0,1.068,0.142,8.244,8.256,EUR
8,MEDIOBANCA,MB IM,8.816,9.300,9.900,2023,1.070,1.096,2.408,1.038,5.607,8.043,8.494,EUR
9,SAIPEM,SPM IM,NaN,NEUTRAL,OUTPERFORM,2022,-0.124,-0.077,0,-0.190,0,0,0,EUR
10,SAIPEM,SPM IM,0.829,0.900,1.200,2023,0.020,0.040,0,-0.028,0,20.872,0,EUR
11,STMICROELECTRONICS,STM IM,NaN,OUTPERFORM,OUTPERFORM,2022,3.843,3.978,3.513,3.831,3.844,8.781,9.118,EUR
12,STMICROELECTRONICS,STM IM,34.930,42,44.000,2023,2.918,3.242,11.103,3.690,-12.152,10.774,9.465,EUR
13,SNAM,SRG IM,NaN,OUTPERFORM,OUTPERFORM,2022,0.338,0.337,-0.065,0.340,-0.677,13.248,13.158,EUR
14,SNAM,SRG IM,4.469,5.600,5.200,2023,0.338,0.334,-1.004,0.336,-0.466,13.362,13.300,EUR

In [6]:
# import data Intermonte
MS = pd.read_excel(r'EPS_CHANGES_20221028_MS.xls',sheet_name='Main2')

MS.columns=['Company Name','Ticker','Forecast Year','EPS % Change','EPS MSe','EPS Consensus','EPS % Diff','P/E Consensus'
           ,'Details','Sales % Change','Op Profit % Change']
MS = MS.iloc[1:]
MS['Currency'] = np.nan

# Remove duplicate rows
for i in range(0,len(MS.index)):
    for j in range(0,len(MS.axes[1])):
        if str(MS.iat[i,j])=='nan':
            MS.iat[i,j]=MS.iat[i-1,j]
            
# Separate BBG Ticker and Currency
for k in range(0,len(MS.axes[0])):
    if len(str(MS.iat[k,1]))==3:
        MS.iat[k,11]=MS.iat[k,1]
        MS.iat[k-1,11]=MS.iat[k,1]
        
for k in range(0,len(MS.axes[0]),2):
    if len(str(MS.iat[k,1]))!=3:
        MS.iat[k+1,1]=MS.iat[k,1]
        
# Convert back to %
MS['EPS % Change']=MS['EPS % Change']*100
MS['EPS % Diff']=MS['EPS % Diff']*100
MS['Sales % Change']=MS['Sales % Change']*100
MS['Op Profit % Change']=MS['Op Profit % Change']*100


MS

,Company Name,Ticker,Forecast Year,EPS % Change,EPS MSe,EPS Consensus,EPS % Diff,P/E Consensus,Details,Sales % Change,Op Profit % Change,Currency
1,Accor SA,AC FP,2022,2.815,0.574,0.592,-3.004,40.287,We nudge up our FY22 RevPAR and EBITDA forecas...,2.517,1.335,EUR
2,Accor SA,AC FP,2023,0.006,1.181,1.097,7.628,21.741,We nudge up our FY22 RevPAR and EBITDA forecas...,6.575,0.003,EUR
3,Banco Sabadell,SAB SQ,2022,8.495,0.141,0.116,21.256,6.674,All revenue lines performed better than expect...,3.093,7.549,EUR
4,Banco Sabadell,SAB SQ,2023,-0.773,0.121,0.118,2.867,6.561,All revenue lines performed better than expect...,1.645,1.075,EUR
5,BASF,BAS GY,2022,-1.318,6.499,6.504,-0.073,7.074,"Post Q3 results, we update our model to reflec...",-0.653,-1.290,EUR
6,BASF,BAS GY,2023,0.756,5.188,4.825,7.524,9.536,"Post Q3 results, we update our model to reflec...",5.318,0.727,EUR
7,Capgemini,CAP FP,2022,1.853,10.728,10.432,2.839,16.387,We update our model for 3Q revenue results. We...,1.642,1.897,EUR
8,Capgemini,CAP FP,2023,2.200,11.494,11.676,-1.557,14.641,We update our model for 3Q revenue results. We...,1.929,2.241,EUR
9,Daimler Truck Holding AG,DTG GY,2022,7.497,3.230,2.993,7.908,9.044,We update our DTG model post the pre-release o...,7.385,11.711,EUR
10,Daimler Truck Holding AG,DTG GY,2023,-1.963,3.057,3.199,-4.454,8.462,We update our DTG model post the pre-release o...,9.586,6.333,EUR
11,DiaSorin SpA,DIA IM,2022,-2.501,5.682,4.944,14.926,25.405,We update our model post DiaSorin's Q3'22 resu...,-1.925,-1.925,EUR
12,DiaSorin SpA,DIA IM,2023,-0.616,5.411,4.900,10.425,25.633,We update our model post DiaSorin's Q3'22 resu...,-1.101,-1.101,EUR
13,Eiffage SA,FGR FP,2022,2.162,9.481,9.029,5.008,9.988,We make minor tweaks to Eiffage's operational ...,0.119,0.043,EUR
14,Eiffage SA,FGR FP,2023,10.412,11.141,9.477,17.560,9.516,We make minor tweaks to Eiffage's operational ...,0.467,0.185,EUR
15,Euronext NV,ENX FP,2022,-1.230,5.193,5.033,3.181,12.947,We make modest tweaks to our revenue estimates...,-0.632,-1.168,EUR
16,Euronext NV,ENX FP,2023,0.421,5.388,5.311,1.442,12.269,We make modest tweaks to our revenue estimates...,0.220,0.409,EUR
17,Evolution AB,EVO SS,2022,1.501,42.471,42.675,-0.479,24.066,We upgrade EPS 2/7/1/1% in FY22/23/24/25. On t...,0.538,0.440,SEK
18,Evolution AB,EVO SS,2023,6.740,51.357,51.698,-0.658,19.866,We upgrade EPS 2/7/1/1% in FY22/23/24/25. On t...,-0.018,-1.092,SEK
19,Fresnillo PLC,FRES LN,2022,-4.563,16.557,25.128,-34.109,29.608,We update our forecasts post 3Q production res...,-1.667,-1.210,GBp
20,Fresnillo PLC,FRES LN,2023,-0.781,17.970,34.596,-48.056,21.506,We update our forecasts post 3Q production res...,-0.465,-0.510,GBp
21,HelloFresh SE,HFG GY,2022,-14.165,0.816,1.095,-25.461,19.635,We have kept revenues broadly unchanged but lo...,0.348,-8.206,EUR
22,HelloFresh SE,HFG GY,2023,-5.966,0.999,1.551,-35.593,13.862,We have kept revenues broadly unchanged but lo...,-0.135,-6.571,EUR
23,Hexagon AB,HEXAB SS,2022,0.100,4.981,4.897,1.700,22.318,"We update our forecasts post 3Q results, which...",-0.128,-0.287,SEK
24,Hexagon AB,HEXAB SS,2023,0.025,4.848,5.118,-5.271,21.356,"We update our forecasts post 3Q results, which...",-0.113,-0.029,SEK
25,Indivior Plc,INDV LN,2022,3.292,99.480,98.655,0.836,16.096,Sales were $8m/4% ahead of consensus with a $2...,1.378,3.664,GBp
26,Indivior Plc,INDV LN,2023,1.368,114.182,113.962,0.193,13.934,Sales were $8m/4% ahead of consensus with a $2...,1.015,1.312,GBp
27,Ipsen SA,IPN FP,2022,-0.395,9.882,9.597,2.974,10.404,We update our model to reflect 3Q22 sales dyna...,-0.247,-0.475,EUR
28,Ipsen SA,IPN FP,2023,0.452,9.511,9.061,4.962,11.020,We update our model to reflect 3Q22 sales dyna...,-0.050,0.542,EUR
29,Kone Oyj,KNEBV FH,2022,-5.412,1.622,1.651,-1.758,25.136,The 3Q22 numbers are in-line with Kone's pre-r...,0.728,-5.911,EUR
30,Kone Oyj,KNEBV FH,2023,-0.833,1.902,1.903,-0.040,21.808,The 3Q22 numbers are in-line with Kone's pre-r...,1.032,-0.764,EUR
31,Lloyds Banking Group,LLOY LN,2022,-1.653,6.741,7.155,-5.783,5.979,Q3 results were solid with Ppop 7% ahead of co...,-0.936,-1.474,GBp
32,Lloyds Banking Group,LLOY LN,2023,0.579,6.647,6.851,-2.979,6.244,Q3 results were solid with Ppop 7% ahead of co...,0.206,0.512,GBp
33,Nemetschek SE,NEM GY,2022,0.454,1.645,1.480,11.174,33.054,Forecasts updated post 3Q22 results. Our FY22 ...,0.168,-1.021,EUR
34,Nemetschek SE,NEM GY,2023,0.074,1.504,1.544,-2.574,31.684,Forecasts updated post 3Q22 results. Our FY22 ...,0.675,-0.776,EUR
35,Saint-Gobain,SGO FP,2022,4.781,6.437,6.069,6.068,6.765,We upgrade FY22/23 EBIT +4%/+2% post Q3 where ...,2.061,4.026,EUR
36,Saint-Gobain,SGO FP,2023,2.296,6.150,5.505,11.724,7.458,We upgrade FY22/23 EBIT +4%/+2% post Q3 where ...,1.829,2.059,EUR
37,Scandic Hotels Group AB,SHOT SS,2022,39.059,5.649,4.060,39.137,8.547,We update our forecasts and price target post ...,4.653,28.730,SEK
38,Scandic Hotels Group AB,SHOT SS,2023,8.924,4.125,3.110,32.651,11.158,We update our forecasts and price target post ...,1.003,2.762,SEK
39,Schibsted ASA,SCHA NO,2022,-3.289,-98.050,3.400,-2983.835,47.147,Guidance commentary and Q3 results will drive ...,0.612,-7.450,NOK
40,Schibsted ASA,SCHA NO,2023,-9.024,4.319,5.442,-20.638,29.456,Guidance commentary and Q3 results will drive ...,0.422,-6.829,NOK
41,Schneider Electric,SU FP,2022,-2.919,7.046,7.212,-2.298,17.754,"Further to 3Q22 earnings, we make minor change...",-0.422,-3.348,EUR
42,Schneider Electric,SU FP,2023,-3.083,7.977,7.636,4.465,16.768,"Further to 3Q22 earnings, we make minor change...",0.210,-3.185,EUR
43,Skanska AB,SKAB SS,2022,33.049,14.580,14.587,-0.045,11.671,We update our model post Q3 results with the l...,3.007,30.513,SEK
44,Skanska AB,SKAB SS,2023,3.463,9.762,12.564,-22.305,13.551,We update our model post Q3 results with the l...,-0.200,4.749,SEK
45,SKF,SKFB SS,2022,-10.037,14.683,14.186,3.502,11.339,We reduce our 2022e / 23e / 24e EBIT forecasts...,3.755,-10.021,SEK
46,SKF,SKFB SS,2023,-7.673,13.888,14.781,-6.039,10.882,We reduce our 2022e / 23e / 24e EBIT forecasts...,4.541,-7.579,SEK
47,Softcat PLC,SCT LN,2022,3.669,56.573,53.655,5.439,25.999,"Updating post FY22 results, FY23-24 revenues -...",-24.675,2.529,GBp
48,Softcat PLC,SCT LN,2023,7.739,55.201,53.476,3.225,21.692,"Updating post FY22 results, FY23-24 revenues -...",-22.183,7.625,GBp
49,Standard Chartered Bank,STAN LN,2022,15.536,99.258,87.595,13.314,6.117,"Post 3Q22 results, we increase our 2022 earnin...",3.535,12.475,GBp
50,Standard Chartered Bank,STAN LN,2023,-2.117,107.485,106.441,0.981,5.034,"Post 3Q22 results, we increase our 2022 earnin...",0.921,-1.995,GBp
51,Swisscom AG,SCMN SE,2022,0.281,29.808,29.622,0.628,16.187,"Overall, our 2022 forecast is broadly unchange...",0.160,0.271,CHF
52,Swisscom AG,SCMN SE,2023,1.243,29.917,30.238,-1.061,15.858,"Overall, our 2022 forecast is broadly unchange...",0.609,1.176,CHF
53,Telenet Group Holding,TNET BB,2022,4.870,3.173,8.407,-62.262,1.713,We update our numbers post Q3 results. Overall...,0.282,4.282,EUR
54,Telenet Group Holding,TNET BB,2023,0.747,3.582,2.935,22.056,4.906,We update our numbers post Q3 results. Overall...,0.859,0.575,EUR
55,TietoEVRY,TIETO FH,2022,1.523,2.288,2.286,0.077,10.647,Forecasts updated post full 3Q22 results. FY22...,0.161,-0.010,EUR
56,TietoEVRY,TIETO FH,2023,0.198,2.186,2.414,-9.455,10.083,Forecasts updated post full 3Q22 results. FY22...,0.175,0.181,EUR
57,Wacker Chemie,WCH GY,2022,-0.579,25.019,24.295,2.981,4.826,"Post Q3 results, we update our estimates to re...",-0.143,-0.544,EUR
58,Wacker Chemie,WCH GY,2023,7.133,12.469,12.700,-1.820,9.232,"Post Q3 results, we update our estimates to re...",4.808,6.942,EUR

In [7]:
company_list = np.append(GS['Company Name'].values,JPM['Company Name'].values)
company_list = np.append(company_list,Int['Company Name'].values)
company_list = np.append(company_list,MS['Company Name'].values)

unique_list = np.unique(company_list)

unique_list

array(['ASM International', 'Accor SA', 'Acerinox', 'BASF',
       'Banco Sabadell', 'Banco Santander', 'Befesa SA', 'Beiersdorf',
       'CAMPARI', 'Capgemini', 'Clariant', 'Credit Suisse Group',
       'DIASORIN', 'Daimler Truck Holding AG', 'Danone',
       'Davide Campari-Milano NV', 'DiaSorin SpA', 'Eiffage SA', 'Essity',
       'Euronext NV', 'Evolution AB', 'Freenet', 'Fresnillo PLC',
       'Heineken', 'HelloFresh', 'HelloFresh SE', 'Hexagon AB', 'ITALGAS',
       'Inchcape', 'Indivior Plc', 'Infrastrutture Wireless SpA', 'Inwit',
       'Ipsen SA', 'Jeronimo Martins', 'Kone', 'Kone Oyj',
       'Landis+Gyr Group', 'Lloyds Banking Group', 'MEDIOBANCA',
       'MTU Aero Engines', 'Nemetschek SE', 'Neste', 'Neste OYJ',
       'Norsk Hydro', 'PPHE Hotel Group', 'Pirelli', 'Renault', 'Repsol',
       'Rexel', 'Royal Unibrew', 'SAIPEM', 'SKF', 'SNAM ',
       'STMICROELECTRONICS', 'STMicroelectronics', 'Saint-Gobain',
       'Scandic Hotels Group AB', 'Schibsted ASA', 'Schneider Electric',
       'Shell PLC', 'Skanska AB', 'Softcat PLC',
       'Standard Chartered Bank', 'Swisscom AG', 'Symrise',
       'Telenet Group Holding', 'TietoEVRY', 'UMG', 'Ubisoft',
       'Unilever Plc', 'Universal Music Group', 'Valeo', 'Volvo Car AB',
       'Wacker Chemie', 'Zegna'], dtype=object)

In [12]:
# Combine datasets
d = ['Broker','Company Name','Ticker','Currency','y1_EPS Chg %','y1_new EPS','y1 new EPS difference to consensus',
    'y2_EPS Chg %','y2_new EPS','y2 new EPS difference to consensus',
    'y3_EPS Chg %','y3_new EPS','y3 new EPS difference to consensus',
    'y1_PE','y2_PE','y3_PE',
    'y1_sales chg %','y1_EBIT chg %',
    'y2_sales chg %','y2_EBIT chg %',
    'y3_sales chg %','y3_EBIT chg %',
    'comments','Market Cap mn']

# y1: 2023, y2: 2024, y3:2025
df = pd.DataFrame(columns=d)
df['Company Name']=unique_list

# fill in by matching company names with other data sets
# GS
for i in range(0,len(unique_list)):
    for j in range(0,len(GS.index)):
        if df.iat[i,1] == GS.iat[j,0]: # found in GS data
            df.iat[i,0] = 'GS' # Broker
            df.iat[i,2] = GS.iat[j,1] # Ticker
            df.iat[i,3] = GS.iat[j,17] # Currency
        
            
            if GS.iat[j,2]== '2023E': # 2023 corresponds to year 1
                df.iat[i,4] = GS.iat[j,3] #y1_EPS Chg
                df.iat[i,5] = GS.iat[j,4] #new EPS
                df.iat[i,6] = GS.iat[j,7] #new EPS difference to consensus
                df.iat[i,13] = GS.iat[j,6] #y1_PE
                df.iat[i,16] = GS.iat[j,9] #y1_Sales Chg
                df.iat[i,22] = GS.iat[j,8] # Comments
                df.iat[i,23] = GS.iat[j,16] # Market Cap

# JPM
    for j in range(0,len(JPM.index)):
        if df.iat[i,1] == JPM.iat[j,0]: # found in JPM data
            if str(df.iat[i,0])=='nan' and str(JPM.iat[j,2])=='2023': # Not found in other datasets
                df.iat[i,0] = 'JPM' # Broker
                df.iat[i,2] = JPM.iat[j,1] # Ticker
                df.iat[i,3] = JPM.iat[j,11] # Currency 
                df.iat[i,4] = JPM.iat[j,3] #y1_EPS Chg
                df.iat[i,5] = JPM.iat[j,4] #new EPS
                df.iat[i,6] = JPM.iat[j,6] #new EPS difference to consensus
                df.iat[i,17] = JPM.iat[j,9] #y1_EBIT chg
                df.iat[i,22] = JPM.iat[j,10] # Comments            
            elif str(df.iat[i,0])!='nan' and str(JPM.iat[j,2])=='2023': # found in JPM data and in another set
                df.loc[-1,:]=['nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan']
                df.iat[-1,0] = 'JPM' # Broker
                df.iat[-1,1] = df.iat[i,1]
                df.iat[-1,2] = JPM.iat[j,1] # Ticker
                df.iat[-1,3] = JPM.iat[j,11] # Currency 
                df.iat[-1,4] = JPM.iat[j,3] #y1_EPS Chg
                df.iat[-1,5] = JPM.iat[j,4] #new EPS
                df.iat[-1,6] = JPM.iat[j,6] #new EPS difference to consensus
                df.iat[-1,17] = JPM.iat[j,9] #y1_EBIT chg
                df.iat[-1,22] = JPM.iat[j,10] # Comments 

                
# Intermonte
    for j in range(0,len(Int.index)):
        if df.iat[i,1] == Int.iat[j,0]: # found in Intermonte data
            if str(df.iat[i,0])=='nan' and str(Int.iat[j,5])=='2023': # Not found in other datasets
                df.iat[i,0] = 'Intermonte' # Broker
                df.iat[i,2] = Int.iat[j,1] # Ticker
                df.iat[i,3] = Int.iat[j,13] # Currency 
                df.iat[i,4] = Int.iat[j,8] #y1_EPS Chg
                df.iat[i,5] = Int.iat[j,7] #new EPS
                df.iat[i,6] = Int.iat[j,10] #new EPS difference to consensus
                df.iat[i,13] = Int.iat[j,11] # y1_PE
            elif str(df.iat[i,0])!='nan' and str(Int.iat[j,5])=='2023': # found in Intermonte data and in another set
                df.loc[-1,:]=['nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan','nan']
                df.iat[-1,0] = 'Intermonte' # Broker
                df.iat[-1,2] = Int.iat[j,1] # Ticker
                df.iat[-1,3] = Int.iat[j,13] # Currency 
                df.iat[-1,4] = Int.iat[j,8] #y1_EPS Chg
                df.iat[-1,5] = Int.iat[j,7] #new EPS
                df.iat[-1,6] = Int.iat[j,10] #new EPS difference to consensus
                df.iat[-1,13] = Int.iat[j,11] # y1_PE
                
# MS
    for j in range(0,len(MS.index)):
        if df.iat[i,1] == MS.iat[j,0]: # found in MS data
            if str(df.iat[i,0])=='nan' and str(MS.iat[j,2])=='2023': # Not found in other datasets
                df.iat[i,0] = 'MS' # Broker
                df.iat[i,2] = MS.iat[j,1] # Ticker
                df.iat[i,3] = MS.iat[j,11] # Currency
                df.iat[i,4] = MS.iat[j,3] #y1_EPS Chg
                df.iat[i,5] = MS.iat[j,4] #new EPS
                df.iat[i,6] = MS.iat[j,5] #new EPS difference to consensus
            elif str(df.iat[i,0])!='nan' and str(MS.iat[j,2])=='2023': # found in Intermonte data and in another set
                df.iat[i,0] = 'MS' # Broker
                df.iat[i,2] = MS.iat[j,1] # Ticker
                df.iat[i,3] = MS.iat[j,11] # Currency
                df.iat[i,4] = MS.iat[j,3] #y1_EPS Chg
                df.iat[i,5] = MS.iat[j,4] #new EPS
                df.iat[i,6] = MS.iat[j,5] #new EPS difference to consensus
df = df.sort_values('Ticker')
df.index = range(1, len(df.index) + 1)
df = df.replace('nan',np.NaN)
df = df.replace('----------------------------------------------------------------------------------------------------',np.NaN)
df

,Broker,Company Name,Ticker,Currency,y1_EPS Chg %,y1_new EPS,y1 new EPS difference to consensus,y2_EPS Chg %,y2_new EPS,y2 new EPS difference to consensus,...,y2_PE,y3_PE,y1_sales chg %,y1_EBIT chg %,y2_sales chg %,y2_EBIT chg %,y3_sales chg %,y3_EBIT chg %,comments,Market Cap mn
1,MS,Accor SA,AC FP,EUR,0.006,1.181,1.097,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JPM,Acerinox,ACX SM,EUR,1.648,1.192,-11.073,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.151,NaN,NaN,NaN,NaN,We update our model post the Q3'22 result: for...,NaN
3,JPM,ASM International,ASM NA,EUR,-2.680,13.713,9.112,NaN,NaN,NaN,...,NaN,NaN,NaN,-3.110,NaN,NaN,NaN,NaN,We update our model to incorporate ASMI’s 3Q r...,NaN
4,MS,BASF,BAS GY,EUR,0.756,5.188,4.825,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,JPM,Beiersdorf,BEI GR,EUR,-2.171,3.927,4.093,NaN,NaN,NaN,...,NaN,NaN,NaN,-2.112,NaN,NaN,NaN,NaN,We revise estimates on Beiersdorf on the back ...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,JPM,UMG,UMG NA,EUR,-3.953,0.845,-4.266,NaN,NaN,NaN,...,NaN,NaN,NaN,-3.916,NaN,NaN,NaN,NaN,"We cut our FY23 EBITDA by c3.5%, largely for a...",NaN
73,GS,Universal Music Group,UMG NA,EUR,-2.553,0.953,0.070,NaN,NaN,NaN,...,NaN,NaN,0.013,NaN,NaN,NaN,NaN,NaN,Updating for Q3 results,37669.524
74,JPM,Volvo Car AB,VOLCARB SS,SEK,-22.148,5.113,13.050,NaN,NaN,NaN,...,NaN,NaN,NaN,-26.737,NaN,NaN,NaN,NaN,We are trimming our FY23 earnings estimates by...,NaN
75,MS,Wacker Chemie,WCH GY,EUR,7.133,12.469,12.700,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,GS,Zegna,ZGN US,EUR,-2.496,0.379,-0.145,NaN,NaN,NaN,...,NaN,NaN,-0.008,NaN,NaN,NaN,NaN,NaN,Updating for Q3 results,2845.781

In [13]:
def red(cell):
    if type(cell) != str and cell < 0 :
        return 'color: red'
    else:
        return 'color: black'
    
o = df.style.applymap(red)
o

In [15]:
# Export to excel with styles
writer = pd.ExcelWriter("Ericsson Wong Coding Exercise.xlsx", engine='xlsxwriter')
o.to_excel(writer, sheet_name='Data')

writer.close()